
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nimekiri </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="card">
                        <div class="card-content">
                          <div class="content">                      
                            <h1>Kõik kirjed</h1>
                            <ul>
                                <% for(let a of arr) {%>
                                    <li>
                                        Name: <%= a.firstname  %> <%= a.lastname %> <br> e-mail: <%= a.email %> <br> Birthdate: <%= a.birthdate %>
                                    </li>
                                <% } %> 
                            </ul>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>  
</body>
</html>
